TreeEditor/Service References/ResourceService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://itm4.gopp/resources/itemType" />
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd3" namespace="http://itm4.gopp/resources/item" />
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Model.Lock" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q1="http://itm4.gopp/resources/itemType" minOccurs="0" name="itemType" type="q1:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryLockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryLockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q2="http://itm4.gopp/resources/itemType" minOccurs="0" name="itemType" type="q2:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://itm4.gopp/resources/item" minOccurs="0" name="GetSingleItemResult" nillable="true" type="q3:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://itm4.gopp/resources/itemType" minOccurs="0" name="itemType" type="q4:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://itm4.gopp/resources/item" minOccurs="0" name="GetAllItemsResult" nillable="true" type="q5:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://itm4.gopp/resources/item" minOccurs="0" name="theItem" nillable="true" type="q6:Item" />
        <xs:element xmlns:q7="http://itm4.gopp/resources/itemType" minOccurs="0" name="itemType" type="q7:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q8="http://itm4.gopp/resources/itemType" minOccurs="0" name="itemType" type="q8:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockedNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model.Lock" minOccurs="0" name="batch" nillable="true" type="q9:LockBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>