TreeEditor/Service References/ResourceService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CollectionPoint" />
      <xs:enumeration value="CollectionVat" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemType" nillable="true" type="tns:ItemType" />
  <xs:complexType name="CollectionPoint">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Item">
        <xs:sequence>
          <xs:element minOccurs="0" name="Vats" nillable="true" type="tns:ArrayOfCollectionVat" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollectionPoint" nillable="true" type="tns:CollectionPoint" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfCollectionVat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionVat" nillable="true" type="tns:CollectionVat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectionVat" nillable="true" type="tns:ArrayOfCollectionVat" />
  <xs:complexType name="CollectionVat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Item">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollectionVat" nillable="true" type="tns:CollectionVat" />
</xs:schema>