TreeEditor/Service References/ResourceService/ResourceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResourceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IResourceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model.Message.Response" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd3" namespace="http://itm4.gopp/resources/itemType" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd4" namespace="http://itm4.gopp/resources/item" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd5" namespace="http://itm4.gopp/resources/collectionPoint" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd6" namespace="http://itm4.gopp/resources/client" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Model.Message.Request" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Model.Message.Push" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Model.Lock" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResourceService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IResourceService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceService_TryLock_InputMessage">
    <wsdl:part name="parameters" element="tns:TryLock" />
  </wsdl:message>
  <wsdl:message name="IResourceService_TryLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryLockResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceService_GetSingleItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleItem" />
  </wsdl:message>
  <wsdl:message name="IResourceService_GetSingleItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleItemResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceService_GetAllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItems" />
  </wsdl:message>
  <wsdl:message name="IResourceService_GetAllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceService_UpdateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItem" />
  </wsdl:message>
  <wsdl:message name="IResourceService_UpdateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceService_DeleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="IResourceService_DeleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceService_LockedNotification_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LockedNotification" />
  </wsdl:message>
  <wsdl:message name="IResourceService_UpdateNotification_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateNotification" />
  </wsdl:message>
  <wsdl:message name="IResourceService_DeleteNotification_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DeleteNotification" />
  </wsdl:message>
  <wsdl:portType name="IResourceService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceService/Login" message="tns:IResourceService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceService/LoginResponse" message="tns:IResourceService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceService/TryLock" message="tns:IResourceService_TryLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceService/TryLockResponse" message="tns:IResourceService_TryLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceService/GetSingleItem" message="tns:IResourceService_GetSingleItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceService/GetSingleItemResponse" message="tns:IResourceService_GetSingleItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceService/GetAllItems" message="tns:IResourceService_GetAllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceService/GetAllItemsResponse" message="tns:IResourceService_GetAllItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceService/UpdateItem" message="tns:IResourceService_UpdateItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceService/UpdateItemResponse" message="tns:IResourceService_UpdateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceService/DeleteItem" message="tns:IResourceService_DeleteItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceService/DeleteItemResponse" message="tns:IResourceService_DeleteItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LockedNotification">
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceService/LockedNotification" message="tns:IResourceService_LockedNotification_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNotification">
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceService/UpdateNotification" message="tns:IResourceService_UpdateNotification_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNotification">
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceService/DeleteNotification" message="tns:IResourceService_DeleteNotification_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IResourceService" type="tns:IResourceService">
    <wsp:PolicyReference URI="#NetTcpBinding_IResourceService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IResourceService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryLock">
      <soap12:operation soapAction="http://tempuri.org/IResourceService/TryLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleItem">
      <soap12:operation soapAction="http://tempuri.org/IResourceService/GetSingleItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <soap12:operation soapAction="http://tempuri.org/IResourceService/GetAllItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap12:operation soapAction="http://tempuri.org/IResourceService/UpdateItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap12:operation soapAction="http://tempuri.org/IResourceService/DeleteItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockedNotification">
      <soap12:operation soapAction="http://tempuri.org/IResourceService/LockedNotification" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotification">
      <soap12:operation soapAction="http://tempuri.org/IResourceService/UpdateNotification" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotification">
      <soap12:operation soapAction="http://tempuri.org/IResourceService/DeleteNotification" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourceService">
    <wsdl:port name="NetTcpBinding_IResourceService" binding="tns:NetTcpBinding_IResourceService">
      <soap12:address location="net.tcp://localhost:8092/ResourceService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8092/ResourceService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>roadrunner2\edi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>